<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Explorar Establecimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <ion-slides (ionSlideDidChange)="onSlideDidChange()" *ngIf="seccion">
    <ion-slide *ngFor="let e of establecimientos">
    <ion-card class="card">
      <ion-card-header color="{{e.tienda_pre}}" class="ion-text-center"> Establecimiento: {{e.tienda_nom}}</ion-card-header>
      <ion-label class="label"><ion-icon class="icon" name="navigate"></ion-icon> Sector: {{e.tienda_sec}}</ion-label>
      <br>
      <ion-label class="label"><ion-icon class="icon" name="map"></ion-icon>Dirección: {{e.tienda_dir}}</ion-label>
      <ion-card-content lines=full>
        <ion-label class="label"><ion-icon class="icon" name="card-outline"></ion-icon> Pagos Disponibles: {{e.tienda_pag}}</ion-label>
        <br>
        <ion-button class="ion-text-center botones" color="{{e.tienda_pre}}" (click)="trazarRuta(e)">¿Cómo llegar?</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-slide>
  </ion-slides>
</ion-content>
