.formulario{
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
  }
  .imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .botones{
    width: 100%;
    height: 40px;
    margin-top: 4%;
    margin-bottom: 3%;
  }
  .label{
    
  }
  .inputs{
    background: rgba(0, 0, 0, .05);
  }
  .titulo{
    font-weight: bold;
  }
  