.seccion{
	display: block;
	margin-top: 40px;
}
.seccion2{
	margin-top: 60px;
}
.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 150px;
    width: 150px;
  }
