.top{
  font-weight: bold;
  font-size: 18px;
  margin-right: 15px;
}
.imagen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 150px;
  width: 150px;
}
.body{
  margin-top: 40%;
}
.texto{
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.seccion{
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  display: flex;
}
.boton{
  width: 180px;
  height: 40px;
}
.inferior{
  justify-content: center;
  display: flex;
}