<ion-header>
</ion-header>
  <ion-toolbar color="dark">
    <ion-label color="success" slot="end" class="top" (click)="iniciarSesion()">Iniciar Sesión </ion-label>
    <ion-label color="danger" slot="end" class="top" (click)="registrarse()">Registrarse</ion-label>
  </ion-toolbar>
<ion-content>
  <body class="body">
    <div class="seccion">
    <ion-label class="texto ion-text-lg-end">Bienvenido al Geoportal de Puntos de Pagos.</ion-label>
  </div>
  <div>
    <img class="imagen" src="../../assets/icon/home.png">
  </div>
  <div class="inferior">
    <ion-button shape="round" color="danger" class="boton" (click)="menu()">EXPLORAR AHORA!</ion-button>
  </div>  
  </body>
</ion-content>

